
@{
    ViewData["Title"] = "Erreur";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Erreur: Aucun fichier sélectionné</h1>
    <h1>Veuillez sélectionner un fichier avant de tenter de telecharger</h1>
    <a href="/" style="padding: 10px 20px; background-color: #FF6347; color: white; text-decoration: none; border-radius: 5px;">Retour à l'accueil</a>
</div>
